### Tipo de datos 
### Númericos 
### Hay tres tipos de datos númericos los cuales son:
### 1:foat 
### 2:integer
### 3:complejos

## Float
### Es el más importante tipo de dato scalar para el análisis númerico. Para ingresar un tipo de dato númerico de la claseﬂoat debemos incluir primero un "." (punto) en la expresión y para saber si una variable "x" es ﬂoat se le pone type(x):

In [1]:
x=1.2

In [2]:
type(x)

float

In [46]:
y=1

In [47]:
type(y)

int

In [48]:
y=float(y)

In [49]:
y

1.0

In [8]:
type(y)

float

## Integer

### Almacena números usando una representación exacta, de modo que no se necesita una aproximación. El costo de la representación exacta es que el tipo de datos enteros no puede expresar nada que no sea un entero, lo que hace que los enteros tengan un uso limitado en la mayoría de los trabajos numéricos.

In [11]:
x=1

In [13]:
type(x)

int

In [38]:
y=1.2

In [39]:
type(y)

float

In [40]:
y

1.2

In [41]:
y=int(y)

In [42]:
type(y)

int

In [43]:
print(y)

1

## String

### Strings son delimitados usando citas (”) o comillas ("")pero nou sandola combinación de ellas, es decir, (’") en un único string, excepto cuando se usa para expresar una citación.

In [28]:
 x = 'abc'

In [29]:
type(x)

str

In [34]:
 y = '"Es una cita!"'

In [36]:
print(y)

"Es una cita!"

### Substrings dentro de un string puede ser accedidos usand slicing. Slicing usa [ ] para contener los indices de los caracters en un string, donde el primer indice es 0, y el último es n-1, asumiendo que el string tiene n letras.

In [52]:
 text = 'Hola clase'

In [53]:
text

'Hola clase'

In [54]:
# la funcion len nos ayuda a ver el rango de una variable
len(text)

10

In [66]:
#String entero
text[:]

'Hola clase'

In [65]:
# text[i] : Caracter en la posición i 
text[5]

'c'

In [67]:
# text[i:] : Caracter en la posición i hasta el final 
text[6:]

'lase'

In [68]:
# text[:i] : Caracter en la posición 0 hasta i 
text[:6]

'Hola c'

In [69]:
# text[j:i] : Caracter en la posición j hasta i 
text[1:6]

'ola c'

In [70]:
# text[j:i:m] : Caracter j, j+m,..j+ m|(i-m-j)/m| 
text[1:10:2]

'oacae'

In [71]:
# text[-i] : Caracter n-i 
text[-5]

'c'

In [73]:
# text[-i:] : Caracter n-i,..n-1 
text[-5:]

'clase'

In [74]:
# text[:-i] : Caracter 0,..., n-i-1 
text[:-5]

'Hola '

## Boolean 
### Son usado para representar verdadero o falso, usando las palabras reservadas True y False.

In [75]:
x = True 
type(x)

bool

In [76]:
x = bool(1)
x

True

In [77]:
x = bool(0)
x

False

## Lists
### Un list es una recolección de otros objetos(ﬂoats, integers, complex, strings e incluso otras listas) Son esenciales para programar en Python y son usados para almacenar colecciones de otros valores. Son construidos con "[ ]" y valores son separados por comas ",".

In [80]:
x=[1,2,3,4]
type(x)

list

In [81]:
x

[1, 2, 3, 4]

In [82]:
# Listas de listas 
x = [[1,2,3,4], [5,6,7,8]]
x

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [83]:
#Listas no rectangulares
x = [[1,2,3,4] , [5,6,7]]
x

[[1, 2, 3, 4], [5, 6, 7]]

In [84]:
#Listas mezcladas
x = [1,1.0,1+0j,'one',None,True]

In [85]:
x

[1, 1.0, (1+0j), 'one', None, True]

In [88]:
x = [1,2,3,4,5,6,7,8,9]

In [89]:
x[2]

3

### List pueden ser multidimensional, y slicing puede ser hecho directamente en dimensiones mayores a 1. Por ejemplo, consideremos el siguiente list x = [[1,2,3,4], [5,6,7,8]]. Si un solo indice es usado, x[0] retornará la primera lista, y x[1] retornará la segunda lista. Ya que la lista retornada por x[0] es sliceable (dividible), Podemos dividirla directamente usando, por ejemplo, x[0][0] o x[0][1:4]

In [100]:
#selecciono la primera lista de la lista
x = [[1,2,3,4], [5,6,7,8]]
x[0]

[1, 2, 3, 4]

In [101]:
#seleccionamos de la primera lista de la lista el primer elemento 
x[0][0]

1

In [102]:
# Esta funcion nos ayuda a agregar un numero al final de la lista
# list.append(value)
x.append(10)

In [103]:
x

[[1, 2, 3, 4], [5, 6, 7, 8], 10]

In [104]:
#agregamos como otro elemneto una lista nueva
x.append([1,2,3])

In [105]:
x

[[1, 2, 3, 4], [5, 6, 7, 8], 10, [1, 2, 3]]

In [106]:
len(x)

4

In [108]:
#agregamos los elementos de una lista a la lista nueva
x.extend([11,12,13])

In [109]:
x

[[1, 2, 3, 4], [5, 6, 7, 8], 10, [1, 2, 3], 11, 12, 13]

In [110]:
#eleminamos la posicion
x.pop(1)

[5, 6, 7, 8]

In [111]:
x

[[1, 2, 3, 4], 10, [1, 2, 3], 11, 12, 13]

In [114]:
#eliminamos el elemento
x.remove(10)

In [115]:
x

[[1, 2, 3, 4], [1, 2, 3], 11, 12, 13]

In [118]:
#otra forma de eliminar una posicion es 
x = [0,1,2,3,4,5,6,7,8,9] 
del x[0]

In [119]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [120]:
del x[:3]
x

[4, 5, 6, 7, 8, 9]

## Tuple

### Un tuple es identico a un list, salvo con una diferencia, que un tuple no puede ser cambiado una vez que se crea. No es posible agregar, remover o reemplazar elementos en un tiple. Pero, si un tuple contiene un tipo de dato mutable, por ejemplo, un list, ese tipo de dato puede ser alterado.Tuples son construidos usando parentesis "()".

In [121]:
x =(0,1,2,3,4,5,6,7,8,9) 
type(x)

tuple

In [122]:
x[-10:-5]

(0, 1, 2, 3, 4)

In [125]:
x = list(x)
type(x)

list

In [124]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
#El contenido puede ser cambiado 
x= ([1,2],[3,4])
x[0][1] = -10 
x

([1, -10], [3, 4])

##  Dict 
### Los Dicts son usados para funciones como optimizers. Están compuestos de keys (palabras) y values(deﬁniciones). Los keys deben ser tipo de datos inmutable y único(por ejemplo, strings, integers, tuples que contengan tipos inmutables) y values pueden contener cualquier tipo de data válido en Python.

In [127]:
data = {'age': 34, 'children' : [1,2], 1: 'apple'}
type(data)

dict

In [128]:
data['age']

34

In [129]:
#Podemos agregar nuevos keys y values. 
data['name'] = 'abc'

In [130]:
data

{'age': 34, 'children': [1, 2], 1: 'apple', 'name': 'abc'}

In [132]:
 #Podemos cambiar
data['age'] = 'ade'

In [133]:
data

{'age': 'ade', 'children': [1, 2], 1: 'apple', 'name': 'abc'}

In [134]:
#eliminar un dict
del data['age']
data

{'children': [1, 2], 1: 'apple', 'name': 'abc'}